/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #c9d7e8;
}

input, button {
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #b6c8dd;
    font-size: 14px;
}

button {
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #356191;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

p, h2 {
    margin: 10px 0;
}

footer {
    background-color: #236bd6;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer a {
color: #ffeb3b;
text-decoration: none;
}


footer a:hover {
text-decoration: underline;
}